<p-panel>
  <p-panel styleClass="test  p-mr-10" header="Detector de notícias falsas">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="ui-g-12">
          Copie o texto de uma notícia, cole na caixa abaixo e clique em
          "Enviar". O sistema irá processar o texto para identificar
          características de escrita, como palavras usadas ou classes
          gramaticais mais frequentes, e utilizar essas características em um
          modelo de aprendizado de máquina que medirá a acurácia da notícia.
          <br />
          <br />
          <br />

          <textarea pInputTextarea [(ngModel)]="noticia" style="margin: 0 15px">

          </textarea>

          <!-- <input
            style="margin: 0 15px"
            type="text"
            pInputText
            [(ngModel)]="noticia"
          /> -->
          <button
            pButton
            style="align-items: center;"
            type="button"
            label="Enviar"
            (click)="enviarRequisicao()"
          ></button>
          <br>
          <div *ngIf="clicou">A notícia apurada tem acurácia de 70%</div>
        </div>
      </div>
    </div>
  </p-panel>
</p-panel>
