  .titulo {
    background-color: aqua;
    margin-right: 500px;
  }
  .header {
    background-color: aqua;
    margin-right: 500px;
    text-align: center;
  }
  ::ng-deep .test {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
    background-color: aqua;
    font-size: medium;
    font-style: normal;
    text-align: center;
  }

